


    <h2>Mi perfil</h2>
    <h3>Bienvenido, {{user}}</h3>
    <h3>Tu email es {{email}}</h3>

    <form action="/api/sessions/logout" method="post">
    
        <button type="submit">logout</button>

    </form>
