<h1>Aca voy a trabajar con socket.io y voy a mostrar los productos en tiempo real</h1>
<h2>Tengo que tener un formulario para cargar productos y uno para borrarlo</h2>

{{!-- //Usamos el CDN de socket.io y vinculamos nuestro script.js --}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.min.js"></script>
<script src="js/main.js"></script>