<h2>Registro de Usuarios</h2>
<form action="/api/sessions/register" method="post">
    <label for="user">Nombre de Usuario</label>
    <input type="text" name="user" required>

    <label for="email">Email</label>
    <input type="email" name="email" id="" required>

    <label for="password">Contraseña</label>
    <input type="text" name="password" required >

    <button type="submit">Registrate</button>
</form>